{% extends "customer_app/customer_master.html" %}
{% load static %}
{% block header %}
<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 50px;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 500px;
    }

    input[type=text],
    [type=password] {
        margin: 10px;
        padding: 10px;
        width: 300px;
        border-radius: 5px;
        border: 1px solid black;
    }

    select {
        margin: 10px;
        padding: 10px;
        width: 150px;
        border-radius: 5px;
        border: 1px solid black;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
{% endblock %}





{% block content %}

<div class="container-fluid form">
    <table>
        <form method="POST">
            {% csrf_token %}
            <tr>
                <td><label for="">Current Password :</label></td>
                <td><input type="text" name="current_password"></td>
            </tr>
            <tr>
                <td><label for="">New Password :</label></td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td><label for="">Confirm Password :</label></td>
                <td><input type="password" name="confirm_password"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit"></td>
            </tr>
        </form>
        <tr>
            <td>

            </td>
        </tr>
    </table>
    {{ message }}
</div>

{% endblock %}