{% extends "customer_app/customer_master.html" %}
{% load static %}
{% block header %}
<style>
     
</style>
 

{% endblock %}



{% block content %}
<div class="container-fluid">
    <div class="row">
      {% for product in products %}
      <div class="col-md-3">
  
  
        <div class="card" style="width: 15rem;">
            <img src="{{product.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ product.product_name }}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      {% endfor %}
    
  </div>
  </div>
 

{% endblock %}